body{
    background-image: url("");
}
.antet{
    display:flex;
    width:100%;
    background-color: rgb(242, 217, 230);
}

.logo{
    float:left;
    width:33.33%;
    padding: 20px;
}

.Nume {
    text-align: center;
    width:33.33%;
}

.meniu{
    width: 33.33%;
    margin-top:20px;
    padding:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
.btn{
    text-decoration: none;
    border: 3px solid rgb(194, 131, 167);
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

 .intro {
     padding: 25px;
     display: flex;
 }
 
 .i-imagine{
     align-items:center;
     width: 50%;
 }
 
 .i-text{
     align-items:center;
     width: 50%;
 }
